:root {
  --neutral-900: hsl(164, 45%, 16%);
  --neutral-600: hsl(166, 22%, 28%);
  --neutral-300: hsl(160, 13%, 84%);
  --neutral-200: hsl(108, 12%, 92%);
  --neutral-100: hsl(45, 20%, 95%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange: hsl(21, 98%, 71%);
  --teal: hsl(170, 40%, 48%);
  --indigo: hsl(230, 62%, 64%);
  --font-family: "Nunito Sans", sans-serif;
  --second-family: "Nunito", sans-serif;
}
@font-face {
  font-family: "Nunito";
  src:
    local("Nunito"), url(../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito-Sans";
  src:
    local("Nunito-Sans"),
    url(../assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  max-width: 375px;
  width: 100%;
  min-height: 1932px;
  padding-inline: 16px;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--neutral-100);
  /* position: relative; */
}
img {
  /* Чтобы ширина не выходила за экран изображения */
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
ul {
  margin-block: 0;
  padding-inline-start: 0;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
.header {
  padding-block: 16px;
  margin-block-end: 48px;
  border-bottom: 1px solid var(--neutral-300);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  display: block;
  width: 200px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neutral-0);
  width: 343px;
  height: 231px;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  left: -5px;
  z-index: 2;
  padding-block-end: 8px;
  box-shadow: 0 12px 22px -12px var(--neutral-600);
  display: none;
}
.menu__active .header__wrapper {
  display: flex;
}
.header__menu {
  padding-block-start: 12px;
}
.header__menu-list {
  width: 327px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 12px;
  padding-inline-start: 8px;
}
/* .header__menu-item {
} */
.header__menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: hsl(218, 23%, 21%);
}
/* .header__btn {
} */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--neutral-900);
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--neutral-0);
}
.header__btn-sign {
  width: 327px;
  height: 52px;
}
/* .main {

} */
.meals {
  margin-block-end: 64px;
}
.meals h1 {
  width: 343px;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 52px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: var(--neutral-900);
  margin-block: 0 16px;
  position: relative;
}
.meals h1::after {
  position: absolute;
  content: "";
  width: 185px;
  height: 23px;
  border-radius: 5px;
  background-color: var(--orange);
  top: 30px;
  left: 0;
  opacity: 0.55;
}
.meals p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  margin-block: 0 32px;
}
.btn__meals {
  width: 198px;
  height: 60px;
  margin-block-end: 40px;
}
.meals picture {
  position: relative; /* Создаем точку отсчета для линии */
  display: block; /* Позволяет псевдоэлементу отображаться */
  /* width: max-content;  Чтобы контейнер не был шире самой картинки */
  margin: 0 auto; /* Если нужно отцентрировать картинку */
}

.meals picture::before {
  content: "";
  position: absolute;
  /* Размещаем линию */
  top: -125px;
  right: -15px;
  /* Параметры самой линии 
  Укажите реальную ширину вашей линии
  Укажите реальную высоту */
  width: 375px;
  height: 476px;
  background-image: url("../assets/images/pattern-squiggle-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* Кладем линию ПОД картинку */
  z-index: -1;
}

.meals img {
  display: block; /* Убирает лишний отступ снизу у картинки */
  position: relative; /* Гарантирует, что картинка будет выше линии */
  z-index: 1;
}
.getting {
  margin-block-end: 64px;
}
.getting h2 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: var(--neutral-900);
  margin-block: 0 48px;
}
.getting__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.getting__block img {
  margin-block-end: 20px;
}
.getting__block h4 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: var(--neutral-900);
  margin-block: 0 12px;
}
.getting__block p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  margin-block: 0;
}
.built {
  margin-block-end: 64px;
}
.built h2 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: var(--neutral-900);
  margin-block: 0 20px;
}
.built p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  margin-block: 0 32px;
}
.built span {
  font-family: var(--second-family);
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.03em;
}
/* Псевдокласс :first-of-type находит первого потомка своего типа среди детей родителя.
Этот селектор выберет именно первый элемент нужного типа (в данном случае — первый <p>), 
даже если перед ним есть другие теги.
*/
.built p:first-of-type {
  margin-block-end: 20px;
}
.built img {
  border-radius: 10px;
}

/* About */
/* Mission */
.mission {
  padding-block-end: 64px;
  border-bottom: 1px solid var(--neutral-300);
}
.mission__content {
  margin-block-end: 40px;
}
.mission__color {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: var(--neutral-900);
  position: relative;
}
.mission__color::after {
  position: absolute;
  content: "";
  width: 110px;
  height: 25px;
  border-radius: 5px;
  background-color: var(--orange);
  top: 2px;
  left: -2px;
  opacity: 0.85;
  z-index: -1;
}
.mission__content p:first-child {
  margin-block-end: 24px;
}
.mission__content h2 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: var(--neutral-900);
  margin-block: 0 24px;
}
.mission__content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  margin-block: 0;
}
.mission__content p:nth-child(3) {
  margin-block-end: 16px;
}
.mission img {
  border-radius: 10px;
}
/* Exist Philosophy*/
.exist-philosophy {
  margin-block-start: 48px;
}
.exist__content {
  padding-inline-start: 52px;
}
.exist__content p:last-child {
  margin-block-end: 0;
}
.exist-philosophy h2 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: var(--neutral-900);
  margin-block: 0 40px;
}
.exist-philosophy h6 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.04em;
  color: var(--neutral-900);
  margin-block: 0 12px;
  position: relative;
}
.exist-philosophy h6::before {
  position: absolute;
  content: "";
  background-image: url("../assets/images/icon-bullet-point.svg");
  width: 26px;
  height: 22px;
  top: 1px;
  left: -45px;
}
.exist-philosophy p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-800);
  margin-block: 0 24px;
}
.exist {
  padding-block-end: 48px;
  border-bottom: 1px solid var(--neutral-300);
}

.philosophy {
  margin-block-start: 48px;
  border-bottom: 1px solid var(--neutral-300);
}
.philosophy__content p:last-child {
  margin-block-end: 0;
}
.philosophy__content {
  padding-inline-start: 52px;
  padding-block-end: 49px;
}
/* Plate */
.plate {
  margin-block: 48px;
}
.plate__content {
  margin-block-end: 32px;
}
.plate__content h2 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: var(--neutral-900);
  margin-block: 0 20px;
}
.plate__content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  margin-block: 0 12px;
}
.plate__list {
  padding-inline-start: 32px;
}
.plate__item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
}

.plate img {
  border-radius: 10px;
}
/* Recipes */
/* Explore */
.explore {
  margin-block: 48px;
}
.explore h2 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: var(--neutral-900);
  margin-block: 0 12px;
}
.explore p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  margin-block: 0;
}

/* Form */
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
  margin-block-end: 24px;
}
input[type="text"] {
  display: block;
  border: none;
  width: 343px;
  height: 47px;
  border: 1px solid var(--neutral-300);
  border-radius: 10px;
  padding: 10px 16px;
  background: var(--neutral-0);
  padding-inline-start: 44px;
}
.form__input {
  position: relative;
}
::placeholder {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-900);
  opacity: 0.7;
}
.form__input svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 16px;
}
/* select {
  appearance: none;
  width: 343px;
  height: 47px;
  border: 1px solid var(--neutral-300);
  border-radius: 10px;
  padding: 10px 16px;
  background: var(--neutral-0);
} */
/* select option {
  border: none;
  outline: none;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #293241;
} */
.dropdown {
  position: relative;
}
.dropdown .btn__head {
  border: 1px solid #e0e6e3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 343px;
  height: 47px;
  background: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #163a34;
  cursor: pointer;
}
.dropdown .btn__head::after {
  position: absolute;
  content: "";
  background-image: url("../assets/images/icon-chevron-down.svg");
  width: 20px;
  height: 21px;
  top: 15px;
  right: 87px;
}

.selected {
  position: absolute;
  border: 1px solid var(--neutral-300);
  border-radius: 8px;
  padding: 8px;
  width: 240px;
  height: 173px;
  box-shadow: 0 12px 22px -12px var(--neutral-300);
  background: var(--neutral-0);
  top: 53px;
  visibility: hidden;
  z-index: 2;
}
.dropdown.open .selected {
  opacity: 1;
  visibility: visible;
}
.form__radio {
  border-radius: 8px;
  padding: 8px;
  width: 224px;
  height: 43px;
  background: var(--neutral-0);
}

label {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  cursor: pointer;
  padding-inline-start: 26px;
}
input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 5px;
}
input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--neutral-600);
}
input[type="radio"]:checked::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: var(--neutral-600);
  border: 2px solid var(--neutral-600);
  border-radius: 50%;
  left: 4px;
  top: 4px;
}
.clear__btn {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 2px 8px;
  width: 224px;
  height: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  background: var(--neutral-0);
  text-align: left;
}
.recipes__wrap {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}
.recipes__wrap-info {
  box-shadow: 0 8px 16px -9px rgba(22, 58, 52, 0.16);
  background: var(--neutral-0);
  border: 1px solid var(--neutral-300);
  border-radius: 10px;
  padding: 8px;
}
.recipes__wrap-info picture img {
  border-radius: 10px;
  margin-block-end: 16px;
}
.recipes__wrap-info h4 {
  width: 311px;
  display: inline-block;
  text-transform: capitalize;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: var(--neutral-900);
  margin-block: 0 10px;
  /* Для того, чтобы было ... как в макете */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recipes__wrap-info p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  margin-block: 0 16px;
}
.recipes__wrap-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
  margin-block-end: 16px;
}
.recipes__wrap-details p {
  margin: 0;
}
.details__serving {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.details__prep {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.details__cook {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.btn__view {
  width: 327px;
  height: 48px;
  border-radius: 999px;
  margin-block-end: 8px;
  font-size: 16px;
  letter-spacing: -0.02em;
}
/* Recipe */
.main__nav {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-900);
  margin-block-end: 16px;
}
.recipe__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}
.recipe__info picture img {
  border-radius: 10px;
}
.recipe__details {
  border-bottom: 1px solid var(--neutral-300);
}
.recipe__details h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: var(--neutral-900);
  margin-block: 0 20px;
  text-transform: capitalize;
}
.recipe__details p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  margin-block: 0 20px;
}
.recipe__details .recipes__wrap-details p {
  margin: 0;
}
.recipe__details .recipes__wrap-details {
  margin-block-end: 20px;
}
.recipe__details h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.04em;
  color: var(--neutral-900);
  margin-block: 0 16px;
}
.recipe__details ul {
  padding-inline-start: 20px;
}
.recipe__details ul:first-of-type {
  margin-block-end: 20px;
}
.recipe__details ul:last-of-type {
  padding-block-end: 49px;
}
.recipe__details li {
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
  position: relative;
}
.recipe__details li::before {
  position: absolute;
  content: "";
  background-image: url("../assets/images/icon-bullet-point.svg");
  width: 24px;
  height: 24px;
  top: 1px;
  left: -32px;
}
.more__recipes {
  padding-block: 48px;
  border-bottom: 1px solid var(--neutral-300);
}
.more__recipes h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: var(--neutral-900);
  margin-block: 0 24px;
}
/*  */
.smarter {
  border-radius: 16px;
  padding: 48px 16px;
  width: 343px;
  height: 353px;
  background: var(--neutral-200);
  margin-block-end: 32px;
}
.smarter h2 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.05em;
  text-align: center;
  color: var(--neutral-900);
  margin-block: 0 12px;
}
.smarter p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--neutral-600);
}
.btn__smarter {
  width: 176px;
  height: 57px;
  margin: 0 auto;
}
.footer {
  padding-block-start: 40px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  margin-block-end: 24px;
}
.footer__social li {
  list-style-type: none;
}
.footer p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--neutral-900);
}
